#about-section {
  background: url("/img/homepage-2nd-section-prog.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 562px;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 84px;
  z-index: 0;

  .about-title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    color: white;
    @include make-width(width, 60%);
    margin-bottom: 25px;
  }

  .about-content {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
  }
}
