.button {
  display: block;
  width: 100%;
  border-radius: 30px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-top: 22px;
  padding-bottom: 22px;
  border: 0;

  &.button-green {
    background-color: $color-green--light
  }

  &.button-blue {
    background-color: $color-primary;
  }

  &.button-transparent {
    font-size: 14px;
    background-color: transparent;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    border: 1.6px solid $color-green--light;
    @include make-width(width, 80%);
  }
}
