#greetings-section {
  position: relative;
  width: 100%;
  height: 567px;
  overflow: hidden;
  background: url("/img/homepage-login-prog.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.greetings-content {
  position: absolute;
  top: 90px;
  left: 0;
  padding: 0 10px;

  .greetings-title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: white;
    margin-bottom: 74px;
    z-index: 1;
  }

  form {
    input[data-icon="pin"] {
      width: 100%;
      border-radius: 3.51px;
      padding: 24px 45px 24px 10px;
      font-family: SourceSansPro;
      font-weight: 400;
      font-size: 16px;
      color: $form-color;
      background: url("/static/icons/pin.svg") no-repeat rgb(255,255,255);
      background-position: 91% center;
      margin-bottom: 10px;
    }
    [data-icon="arrow"] {
      display: block;
      width: 100%;
      border-radius: 3.51px;
      padding: 10px;
      font-family: SourceSansPro;
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      color: $form-color;
      background: url("/static/icons/arrow.svg") no-repeat rgb(255,255,255);
      background-position: 91% center;
      border: 0;
      margin-bottom: 10px;
      &::after {
        content: "";
        display: none;
      }
    }
    .search-btn {
      display: block;
      width: 100%;
      border-radius: 3.51px;
      border: 0;
      padding: 10px;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: white;
      background: url("/static/icons/search.svg") no-repeat $color-green--light;
      background-position: 30% center;
      margin-bottom: 26px;
    }
  }
}
