.placeholder-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  color: white;

  &.greetings {
    width: 300px;
    height: 100px;
  }

  &.advertise {
    width: 300px;
    height: 250px;
  }
}
